<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1WCPP0MfbO7rNjjThE_Ou1-xw_OW4eIU</string>
	<key>GCM_SENDER_ID</key>
	<string>346811731734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supabaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>supabase-tutorial-83d77</string>
	<key>STORAGE_BUCKET</key>
	<string>supabase-tutorial-83d77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346811731734:ios:2fd916a339ee0a94d14a37</string>
</dict>
</plist>